<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biippo.css360.uwb.biippobeta" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/hippo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectCategory"
            android:label="@string/title_activity_select_category" >
        </activity>
        <activity
            android:name=".SelectSubCategory"
            android:label="@string/title_activity_select_sub_category" >
        </activity>
        <activity
            android:name=".SelectType"
            android:label="@string/title_activity_select_type" >
        </activity>
        <activity
            android:name=".Instruction"
            android:label="@string/title_activity_instruction" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
            <intent-filter>
                <action android:name="biippo.about" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
